<!-- templates/admin_users.html -->{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользователи</title>
<link rel="stylesheet" href="{% static 'css/style_admin_all.css' %}">
</head>
<body>
    <h1>Список пользователей</h1>
        <p>
        <a href="{% url 'admin_panel' %}">🛠️ Административная панель</a>
    </p>
    <!-- Ссылка на создание нового пользователя -->
    <p>
        <a href="{% url 'create_user' %}">➕ Создать нового пользователя</a>
    </p>

    <table>
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Роль</th>
                <th>Действия</th> <!-- Новый столбец для кнопок -->
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{% url 'edit_user' user.id %}">✏️ Изменить</a> |
                    <a href="{% url 'delete_user' user.id %}">🗑️ Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
