{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
<link rel="stylesheet" href="{% static 'css/style_admin_all.css' %}">
</head>
<body>
    <h1>Редактировать пользователя</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div>
            {{ form.username.label_tag }}<br>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div>
            {{ form.email.label_tag }}<br>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div>
            {{ form.role.label_tag }}<br>
            {{ form.role }}
            {{ form.role.errors }}
        </div>

        <button type="submit">Сохранить изменения</button>
    </form>

</body>
</html>
